openapi: 3.1.0
info:
  title: FatSecret Platform API
  version: "2026.01"
  description: |
    Community-derived OpenAPI 3.1 specification for the FatSecret Platform REST API.

    This spec was assembled by hand from the public documentation pages at
    https://platform.fatsecret.com/docs/. It is NOT an official artifact published
    by FatSecret. The vendor does not expose a machine-readable spec or a numeric
    API version, so the `info.version` here is a date-style identifier reflecting
    the month the source documentation was crawled.

    Two integration styles coexist in the FatSecret platform:
      - Method-parameter style: POST/GET to `/rest/server.api` with a `method`
        query parameter selecting the operation (e.g. `method=foods.search.v5`).
      - URL-path style: dedicated REST paths such as `/rest/food/v2`,
        `/rest/natural-language-processing/v1`, `/rest/food-entries/v2`.

    All version variants are modeled as separate operations: there is one
    operation per (method, version) pair. Method-style operations share the
    `/rest/server.api` path and are disambiguated by the value of the required
    `method` query parameter (modeled as a single-element enum on each operation).

    OAuth 1.0a is documented via a `description` because OpenAPI 3.x has no
    first-class scheme for it. OAuth 2.0 client_credentials is the modern flow.
  contact:
    name: Community-maintained spec
    url: https://github.com/walexnelson/pyfatsecret
  license:
    name: Documentation © FatSecret; spec compilation MIT-style community work
    url: https://platform.fatsecret.com/docs/guides

servers:
  - url: https://platform.fatsecret.com/rest/server.api
    description: Method-parameter style endpoint (legacy, but still current). Used by every operation whose path is `/rest/server.api`.
  - url: https://platform.fatsecret.com
    description: REST-URL style base. Native/REST-path operations (NLP, image recognition, feedback, food-entries v2, saved-meals, profile, etc.) are mounted under `/rest/...`.

tags:
  - name: Foods
    description: Foods search and food.get version variants.
  - name: Food Classification
    description: Brands, categories, sub-categories, barcode, autocomplete.
  - name: Recipes
    description: Recipe retrieval, search, recipe types, recipe favorites.
  - name: Profile Foods
    description: User-scoped food creation, favorites, most/recently eaten lists.
  - name: Saved Meals
    description: User-scoped saved meal and saved-meal-item CRUD.
  - name: Food Diary
    description: Daily food entries, monthly summaries, copy operations.
  - name: Exercise Diary
    description: Exercise catalog and diary entries.
  - name: Weight Diary
    description: Weight tracking endpoints.
  - name: Profile Auth
    description: Profile creation and authentication retrieval.
  - name: Native APIs
    description: REST-URL-only operations (natural language processing, image recognition).
  - name: Feedback
    description: Issue/feedback reporting with optional image uploads.

security:
  - oauth2: [basic]

components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: |
        OAuth 2.0 client_credentials flow. Token endpoint issues JWT bearer
        tokens valid for 86400 seconds (24h). Tokens should be requested via a
        server-side proxy with IP allowlisting; credentials must not be embedded
        in distributed clients. Only signed (app-context) requests are
        supported -- there is no user-context OAuth 2 flow.
      flows:
        clientCredentials:
          tokenUrl: https://oauth.fatsecret.com/connect/token
          scopes:
            basic: Core API access (food search, recipe lookup, etc.)
            premier: Advanced/premium features and resources
            barcode: Barcode scanning functionality
            localization: Regional/language-specific API calls
            nlp: Natural Language Processing (free-text food parsing) capabilities
            image-recognition: Image-based food recognition features
            feedback: Feedback-related endpoints
    oauth1:
      type: http
      scheme: oauth
      description: |
        OAuth 1.0a signing (HMAC-SHA1 only; PLAINTEXT and RSA-SHA1 are rejected).

        Two request modes:
          - signed: App-level requests using only consumer credentials. Used
            for non-user-specific lookups (e.g. food.get).
          - signed_and_delegated: User-context requests carrying an access
            token plus access token secret. Used for diary, weight, favorites,
            saved meals, food.create, profile.* etc.

        Three-legged flow:
          - Request token:   POST  https://authentication.fatsecret.com/oauth/request_token
          - Authorize:       GET   https://authentication.fatsecret.com/oauth/authorize
          - Access token:    GET   https://authentication.fatsecret.com/oauth/access_token

        Required oauth_* parameters on every signed call: oauth_consumer_key,
        oauth_signature_method (HMAC-SHA1), oauth_timestamp, oauth_nonce,
        oauth_version (1.0), oauth_signature. Delegated calls add oauth_token.

        Signing key for delegated requests: `<consumer_secret>&<oauth_token_secret>`.

  schemas:
    Error:
      type: object
      description: Standard error envelope. JSON encodes `code` as a string; XML as a numeric body.
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              description: Numeric error code (rendered as a string in JSON, integer in XML).
              example: "4"
            message:
              type: string
              description: Human-readable error message; may embed contextual details after the colon.
              example: "Invalid signature method: oauth_signature_method 'PLAINTEXT'"

    Ternary:
      type: integer
      description: Three-state value. 1 = True/Contains, 0 = False/Does not contain, -1 = Unknown.
      enum: [1, 0, -1]

    DateInt:
      type: integer
      format: int32
      description: |
        FatSecret date encoding: number of whole days elapsed since 1970-01-01 UTC.
        formula: `floor(unix_timestamp_seconds / 86400)`. Example: 19723 == 2024-01-01.

    Success:
      type: object
      description: Generic success envelope returned by mutating endpoints.
      properties:
        success:
          type: integer
          enum: [1, 0]
          description: 1 if the operation succeeded.

    Allergen:
      type: object
      properties:
        id: { type: integer, format: int64 }
        name:
          type: string
          description: Known names include Egg, Fish, Gluten, Milk, Peanuts, Shellfish, Soy, Tree Nuts, Wheat, Sesame.
        value:
          $ref: "#/components/schemas/Ternary"

    Preference:
      type: object
      properties:
        id: { type: integer, format: int64 }
        name:
          type: string
          description: Known names include Vegan, Vegetarian.
        value:
          $ref: "#/components/schemas/Ternary"

    FoodAttributes:
      type: object
      properties:
        allergens:
          type: object
          properties:
            allergen:
              type: array
              items: { $ref: "#/components/schemas/Allergen" }
        preferences:
          type: object
          properties:
            preference:
              type: array
              items: { $ref: "#/components/schemas/Preference" }

    FoodImage:
      type: object
      properties:
        image_url: { type: string, format: uri }
        image_type:
          type: string
          enum: [Standard, Isolated]

    FoodImages:
      type: object
      properties:
        food_image:
          type: array
          items: { $ref: "#/components/schemas/FoodImage" }

    FoodSubCategories:
      type: object
      properties:
        food_sub_category:
          type: array
          items: { type: string }

    ServingBase:
      type: object
      description: Common nutrient/serving fields shared across food.get v2+ and foods.search v2+.
      properties:
        serving_id:
          oneOf:
            - { type: integer, format: int64 }
            - { type: string }
        serving_description: { type: string }
        serving_url: { type: string, format: uri }
        metric_serving_amount: { type: number, format: double }
        metric_serving_unit:
          type: string
          enum: [g, ml, oz]
        number_of_units: { type: number, format: double }
        measurement_description: { type: string }
        is_default:
          type: integer
          description: 1 if this is the default serving. Premier exclusive on most versions; present only when `flag_default_serving=true` on v5.
        calories: { type: number, format: double }
        carbohydrate: { type: number, format: double }
        protein: { type: number, format: double }
        fat: { type: number, format: double }
        saturated_fat: { type: number, format: double }
        polyunsaturated_fat: { type: number, format: double }
        monounsaturated_fat: { type: number, format: double }
        trans_fat: { type: number, format: double }
        cholesterol: { type: number, format: double }
        sodium: { type: number, format: double }
        potassium: { type: number, format: double }
        fiber: { type: number, format: double }
        sugar: { type: number, format: double }
        added_sugars: { type: number, format: double }
        vitamin_a: { type: number, format: double }
        vitamin_c: { type: number, format: double }
        vitamin_d: { type: number, format: double }
        calcium: { type: number, format: double }
        iron: { type: number, format: double }

    ServingV1:
      description: food.get v1 serving. Vitamins A/C, calcium, iron are reported as %DV in v1 (not raw values). No added_sugars, no vitamin_d.
      type: object
      properties:
        serving_id: { type: string }
        serving_description: { type: string }
        serving_url: { type: string, format: uri }
        metric_serving_amount: { type: number, format: double }
        metric_serving_unit:
          type: string
          enum: [g, ml, oz]
        number_of_units: { type: number, format: double }
        measurement_description: { type: string }
        is_default: { type: integer, enum: [0, 1] }
        calories: { type: number, format: double }
        carbohydrate: { type: number, format: double }
        protein: { type: number, format: double }
        fat: { type: number, format: double }
        saturated_fat: { type: number, format: double }
        polyunsaturated_fat: { type: number, format: double }
        monounsaturated_fat: { type: number, format: double }
        trans_fat: { type: number, format: double }
        cholesterol: { type: number, format: double }
        sodium: { type: number, format: double }
        potassium: { type: number, format: double }
        fiber: { type: number, format: double }
        sugar: { type: number, format: double }
        vitamin_a:
          type: number
          format: double
          description: "%DV percentage in v1."
        vitamin_c:
          type: number
          format: double
          description: "%DV percentage in v1."
        calcium:
          type: number
          format: double
          description: "%DV percentage in v1."
        iron:
          type: number
          format: double
          description: "%DV percentage in v1."

    Servings:
      type: object
      properties:
        serving:
          type: array
          items: { $ref: "#/components/schemas/ServingBase" }

    ServingsV1:
      type: object
      properties:
        serving:
          type: array
          items: { $ref: "#/components/schemas/ServingV1" }

    FoodCommon:
      type: object
      description: Base food fields common to food.get v2+ and foods.search v2+.
      properties:
        food_id:
          oneOf:
            - { type: integer, format: int64 }
            - { type: string }
        food_name: { type: string }
        food_type:
          type: string
          enum: [Brand, Generic]
        brand_name: { type: string }
        food_url: { type: string, format: uri }
        food_sub_categories: { $ref: "#/components/schemas/FoodSubCategories" }

    FoodV1:
      description: food.get v1 response object. Servings encode vitamins as %DV.
      allOf:
        - $ref: "#/components/schemas/FoodCommon"
        - type: object
          properties:
            servings: { $ref: "#/components/schemas/ServingsV1" }

    FoodV2:
      description: food.get v2/v3 response object. Adds added_sugars/vitamin_d; vitamins are raw values.
      allOf:
        - $ref: "#/components/schemas/FoodCommon"
        - type: object
          properties:
            servings: { $ref: "#/components/schemas/Servings" }

    Food:
      description: |
        food.get v4/v5 response object. Adds food_images and food_attributes
        (allergens, preferences). v5 also exposes derived standardized
        servings (serving_id=0) for Brand-type foods which cannot be used to
        create food entries.
      allOf:
        - $ref: "#/components/schemas/FoodCommon"
        - type: object
          properties:
            food_images: { $ref: "#/components/schemas/FoodImages" }
            food_attributes: { $ref: "#/components/schemas/FoodAttributes" }
            servings: { $ref: "#/components/schemas/Servings" }

    FoodGetV1Response:
      type: object
      properties:
        food: { $ref: "#/components/schemas/FoodV1" }

    FoodGetV2Response:
      type: object
      properties:
        food: { $ref: "#/components/schemas/FoodV2" }

    FoodGetResponse:
      type: object
      properties:
        food: { $ref: "#/components/schemas/Food" }

    FoodSearchV1Item:
      type: object
      properties:
        food_id: { type: integer, format: int64 }
        food_name: { type: string }
        brand_name: { type: string }
        food_type:
          type: string
          enum: [Brand, Generic]
        food_url: { type: string, format: uri }
        food_description: { type: string }

    FoodsSearchV1Response:
      type: object
      properties:
        foods:
          type: object
          properties:
            max_results: { type: integer }
            total_results: { type: integer }
            page_number: { type: integer }
            food:
              type: array
              items: { $ref: "#/components/schemas/FoodSearchV1Item" }

    FoodsSearchResponse:
      type: object
      description: Shared envelope for foods.search v2..v5 (with progressively richer `food` item schemas).
      properties:
        foods_search:
          type: object
          properties:
            max_results: { type: integer }
            total_results: { type: integer }
            page_number: { type: integer }
            results:
              type: object
              properties:
                food:
                  type: array
                  items: { $ref: "#/components/schemas/Food" }

    AutocompleteResponse:
      type: object
      properties:
        suggestions:
          type: object
          properties:
            suggestion:
              type: array
              items: { type: string }

    BarcodeV1Response:
      type: object
      properties:
        food_id:
          type: integer
          format: int64
          description: 0 if no match.

    BarcodeV2Response:
      type: object
      properties:
        food: { $ref: "#/components/schemas/Food" }

    FoodBrandsResponse:
      type: object
      properties:
        food_brands:
          type: object
          properties:
            food_brand:
              type: array
              items: { type: string }

    FoodCategory:
      type: object
      properties:
        food_category_id: { type: integer, format: int64 }
        food_category_name: { type: string }
        food_category_description: { type: string }

    FoodCategoriesResponse:
      type: object
      properties:
        food_categories:
          type: object
          properties:
            food_category:
              type: array
              items: { $ref: "#/components/schemas/FoodCategory" }

    FoodSubCategoriesResponse:
      type: object
      properties:
        food_sub_categories: { $ref: "#/components/schemas/FoodSubCategories" }

    EatenFood:
      type: object
      description: Element of `eaten_foods` array used by NLP/image-recognition POST bodies to bias matching.
      properties:
        food_id: { type: integer, format: int64 }
        food_name: { type: string }
        food_brand: { type: string }
        serving_description: { type: string }
        serving_size: { type: string }

    NlpRequest:
      type: object
      required: [user_input]
      properties:
        user_input:
          type: string
          maxLength: 1000
          description: Free-text description of what was eaten.
        include_food_data:
          type: boolean
          default: false
          description: If true, response embeds the full food.get-style food object per match.
        eaten_foods:
          type: array
          items: { $ref: "#/components/schemas/EatenFood" }
        region: { type: string, default: "US" }
        language: { type: string }

    ImageRecognitionRequest:
      type: object
      required: [image_b64]
      properties:
        image_b64:
          type: string
          maxLength: 999982
          description: Base64-encoded image payload (JPG/PNG/WebP). Total request body capped at ~1MB.
        include_food_data: { type: boolean, default: false }
        eaten_foods:
          type: array
          items: { $ref: "#/components/schemas/EatenFood" }
        region: { type: string, default: "US" }
        language: { type: string }

    SuggestedServing:
      type: object
      properties:
        serving_id: { type: integer, format: int64 }
        serving_description: { type: string }
        custom_serving_description: { type: string }
        metric_serving_description: { type: string }
        metric_measure_amount: { type: number, format: double }
        number_of_units: { type: number, format: double }

    EatenSummary:
      type: object
      properties:
        food_name_singular: { type: string }
        food_name_plural: { type: string }
        singular_description: { type: string }
        plural_description: { type: string }
        units: { type: number, format: double }
        metric_description: { type: string }
        total_metric_amount: { type: number, format: double }
        per_unit_metric_amount: { type: number, format: double }
        total_nutritional_content:
          type: object
          properties:
            calories: { type: number, format: double }
            carbohydrate: { type: number, format: double }
            protein: { type: number, format: double }
            fat: { type: number, format: double }
            saturated_fat: { type: number, format: double }
            polyunsaturated_fat: { type: number, format: double }
            monounsaturated_fat: { type: number, format: double }
            cholesterol: { type: number, format: double }
            sodium: { type: number, format: double }
            potassium: { type: number, format: double }
            fiber: { type: number, format: double }
            sugar: { type: number, format: double }
            vitamin_a: { type: number, format: double }
            vitamin_c: { type: number, format: double }
            calcium: { type: number, format: double }
            iron: { type: number, format: double }

    FoodResponseItem:
      type: object
      description: One item in the `food_response` array returned by NLP and image-recognition.
      properties:
        food_id: { type: integer, format: int64 }
        food_entry_name: { type: string }
        eaten: { $ref: "#/components/schemas/EatenSummary" }
        suggested_serving: { $ref: "#/components/schemas/SuggestedServing" }
        food:
          $ref: "#/components/schemas/Food"

    NlpImageResponse:
      type: object
      properties:
        food_response:
          type: array
          items: { $ref: "#/components/schemas/FoodResponseItem" }

    FeedbackRequest:
      type: object
      required: [issue_type_id, external_id]
      properties:
        barcode:
          type: integer
          description: Required when issue_type_id is 1 (Wrong Name/Brand).
        issue_type_id:
          type: integer
          enum: [1, 2, 3, 4, 99]
          description: 1=Wrong Name/Brand, 2=Wrong Nutrition Info, 3=Missing Serving Size, 4=Barcode not found, 99=Other.
        issue_type:
          type: string
          description: Free-text issue description (required when issue_type_id=99).
        notes: { type: string }
        external_id:
          type: string
          description: Caller-defined identifier; typically a user ID.
        returned_food:
          type: object
          description: Required when issue_type_id is 1, 2, or 3. serving_id required when issue_type_id is 2 or 3.
          properties:
            food_id: { type: integer }
            serving_id: { type: integer }
        image_file_extension:
          type: string
          enum: [jpg, jpeg, png, tiff]
          default: jpg
        region: { type: string, default: "US" }
        language: { type: string }

    FeedbackResponse:
      type: object
      properties:
        messageId: { type: string }
        expiryDateTimeUtc: { type: string, format: date-time }
        barcodeImageUrl: { type: string, format: uri }
        packagingImageUrl: { type: string, format: uri }
        nutritionImageUrl: { type: string, format: uri }
        contentTypeHeader: { type: string }

    RecipeServingSize:
      type: object
      properties:
        serving_size: { type: string }
        calories: { type: number, format: double }
        carbohydrate: { type: number, format: double }
        protein: { type: number, format: double }
        fat: { type: number, format: double }
        saturated_fat: { type: number, format: double }
        polyunsaturated_fat: { type: number, format: double }
        monounsaturated_fat: { type: number, format: double }
        trans_fat: { type: number, format: double }
        cholesterol: { type: number, format: double }
        sodium: { type: number, format: double }
        potassium: { type: number, format: double }
        fiber: { type: number, format: double }
        sugar: { type: number, format: double }
        vitamin_a: { type: number, format: double }
        vitamin_c: { type: number, format: double }
        calcium: { type: number, format: double }
        iron: { type: number, format: double }

    RecipeIngredient:
      type: object
      properties:
        food_id: { type: integer, format: int64 }
        food_name: { type: string }
        serving_id: { type: integer, format: int64 }
        number_of_units: { type: number, format: double }
        measurement_description: { type: string }
        ingredient_url: { type: string, format: uri }
        ingredient_description: { type: string }

    RecipeDirection:
      type: object
      properties:
        direction_number: { type: integer }
        direction_description: { type: string }

    RecipeBase:
      type: object
      properties:
        recipe_id: { type: integer, format: int64 }
        recipe_name: { type: string }
        recipe_url: { type: string, format: uri }
        recipe_description: { type: string }
        number_of_servings: { type: number, format: double }
        preparation_time_min: { type: integer }
        cooking_time_min: { type: integer }
        rating: { type: integer, minimum: 0, maximum: 5 }
        recipe_types:
          type: object
          properties:
            recipe_type:
              type: array
              items: { type: string }
        recipe_categories:
          type: object
          properties:
            recipe_category:
              type: array
              items:
                type: object
                properties:
                  recipe_category_name: { type: string }
                  recipe_category_url: { type: string, format: uri }
        recipe_images:
          type: object
          properties:
            recipe_image:
              type: array
              items: { type: string, format: uri }
        serving_sizes:
          type: object
          properties:
            serving_size:
              type: array
              items: { $ref: "#/components/schemas/RecipeServingSize" }
        ingredients:
          type: object
          properties:
            ingredient:
              type: array
              items: { $ref: "#/components/schemas/RecipeIngredient" }
        directions:
          type: object
          properties:
            direction:
              type: array
              items: { $ref: "#/components/schemas/RecipeDirection" }

    Recipe:
      description: recipe.get v2 adds `grams_per_portion`.
      allOf:
        - $ref: "#/components/schemas/RecipeBase"
        - type: object
          properties:
            grams_per_portion: { type: number, format: double }

    RecipeGetV1Response:
      type: object
      properties:
        recipe: { $ref: "#/components/schemas/RecipeBase" }

    RecipeGetResponse:
      type: object
      properties:
        recipe: { $ref: "#/components/schemas/Recipe" }

    RecipeSearchItem:
      type: object
      properties:
        recipe_id: { type: integer, format: int64 }
        recipe_name: { type: string }
        recipe_url: { type: string, format: uri }
        recipe_description: { type: string }
        recipe_image: { type: string, format: uri }
        recipe_nutrition:
          type: object
          properties:
            calories: { type: number, format: double }
            carbohydrate: { type: number, format: double }
            protein: { type: number, format: double }
            fat: { type: number, format: double }
        recipe_ingredients:
          type: object
          properties:
            ingredient:
              type: array
              items: { type: string }
        recipe_types:
          type: object
          properties:
            recipe_type:
              type: array
              items: { type: string }

    RecipesSearchResponse:
      type: object
      properties:
        recipes:
          type: object
          properties:
            max_results: { type: integer }
            total_results: { type: integer }
            page_number: { type: integer }
            recipe:
              type: array
              items: { $ref: "#/components/schemas/RecipeSearchItem" }

    RecipeTypesResponse:
      type: object
      properties:
        recipe_types:
          type: object
          properties:
            recipe_type:
              type: array
              items: { type: string }

    FavoriteRecipe:
      type: object
      properties:
        recipe_id: { type: integer, format: int64 }
        recipe_name: { type: string }
        recipe_url: { type: string, format: uri }
        recipe_description: { type: string }
        recipe_image: { type: string, format: uri }

    RecipesFavoritesResponse:
      type: object
      properties:
        recipes:
          type: object
          properties:
            recipe:
              type: array
              items: { $ref: "#/components/schemas/FavoriteRecipe" }

    FavoriteFood:
      type: object
      properties:
        food_id: { type: integer, format: int64 }
        food_name: { type: string }
        food_type:
          type: string
          enum: [Brand, Generic]
        food_url: { type: string, format: uri }
        food_description: { type: string }
        serving_id: { type: integer, format: int64 }
        number_of_units: { type: number, format: double }

    FoodsFavoritesResponse:
      type: object
      properties:
        foods:
          type: object
          properties:
            food:
              type: array
              items: { $ref: "#/components/schemas/FavoriteFood" }

    EatenFoodListItem:
      type: object
      properties:
        food_id: { type: integer, format: int64 }
        food_name: { type: string }
        food_type:
          type: string
          enum: [Brand, Generic]
        food_url: { type: string, format: uri }
        serving_id: { type: integer, format: int64 }
        number_of_units: { type: number, format: double }

    EatenFoodsResponse:
      type: object
      properties:
        foods:
          type: object
          properties:
            food:
              type: array
              items: { $ref: "#/components/schemas/EatenFoodListItem" }

    FoodCreateResponse:
      type: object
      properties:
        food_id: { type: integer, format: int64 }

    SavedMealCreateResponse:
      type: object
      properties:
        saved_meal_id: { type: integer, format: int64 }

    SavedMeal:
      type: object
      properties:
        saved_meal_id: { type: integer, format: int64 }
        saved_meal_name: { type: string }
        saved_meal_description: { type: string }
        meals:
          type: string
          description: Comma-separated meal types (breakfast, lunch, dinner, other).

    SavedMealsResponse:
      type: object
      properties:
        saved_meals:
          type: object
          properties:
            saved_meal:
              type: array
              items: { $ref: "#/components/schemas/SavedMeal" }

    SavedMealItem:
      type: object
      properties:
        saved_meal_item_id: { type: integer, format: int64 }
        food_id: { type: integer, format: int64 }
        saved_meal_item_name: { type: string }
        serving_id: { type: integer, format: int64 }
        number_of_units: { type: number, format: double }

    SavedMealItemAddResponse:
      type: object
      properties:
        saved_meal_item_id: { type: integer, format: int64 }

    SavedMealItemsResponse:
      type: object
      properties:
        saved_meal_items:
          type: object
          properties:
            saved_meal_item:
              type: array
              items: { $ref: "#/components/schemas/SavedMealItem" }

    FoodEntry:
      type: object
      properties:
        food_entry_id: { type: integer, format: int64 }
        food_entry_name: { type: string }
        food_entry_description: { type: string }
        date_int: { $ref: "#/components/schemas/DateInt" }
        meal:
          type: string
          enum: [breakfast, lunch, dinner, other]
        food_id: { type: integer, format: int64 }
        serving_id: { type: integer, format: int64 }
        number_of_units: { type: number, format: double }
        calories: { type: number, format: double }
        carbohydrate: { type: number, format: double }
        protein: { type: number, format: double }
        fat: { type: number, format: double }
        saturated_fat: { type: number, format: double }
        polyunsaturated_fat: { type: number, format: double }
        monounsaturated_fat: { type: number, format: double }
        cholesterol: { type: number, format: double }
        sodium: { type: number, format: double }
        potassium: { type: number, format: double }
        fiber: { type: number, format: double }
        sugar: { type: number, format: double }
        vitamin_a: { type: number, format: double }
        vitamin_c: { type: number, format: double }
        calcium: { type: number, format: double }
        iron: { type: number, format: double }

    FoodEntriesResponse:
      type: object
      properties:
        food_entries:
          type: object
          properties:
            food_entry:
              type: array
              items: { $ref: "#/components/schemas/FoodEntry" }

    MonthDay:
      type: object
      properties:
        date_int: { $ref: "#/components/schemas/DateInt" }
        calories: { type: number, format: double }
        carbohydrate: { type: number, format: double }
        protein: { type: number, format: double }
        fat: { type: number, format: double }

    FoodEntriesMonthResponse:
      type: object
      properties:
        month:
          type: object
          properties:
            from_date_int: { $ref: "#/components/schemas/DateInt" }
            to_date_int: { $ref: "#/components/schemas/DateInt" }
            day:
              type: array
              items: { $ref: "#/components/schemas/MonthDay" }

    Exercise:
      type: object
      properties:
        exercise_id: { type: integer, format: int64 }
        exercise_name: { type: string }

    ExercisesResponse:
      type: object
      properties:
        exercise_types:
          type: object
          properties:
            exercise:
              type: array
              items: { $ref: "#/components/schemas/Exercise" }

    ExerciseEntry:
      type: object
      properties:
        is_template_value:
          type: integer
          description: 1 if the entry is a template default; otherwise absent.
        exercise_id: { type: integer, format: int64 }
        exercise_name: { type: string }
        minutes: { type: integer }
        calories: { type: number, format: double }

    ExerciseEntriesResponse:
      type: object
      properties:
        exercise_entries:
          type: object
          properties:
            exercise_entry:
              type: array
              items: { $ref: "#/components/schemas/ExerciseEntry" }

    ExerciseEntriesMonthResponse:
      type: object
      properties:
        month:
          type: object
          properties:
            from_date_int: { $ref: "#/components/schemas/DateInt" }
            to_date_int: { $ref: "#/components/schemas/DateInt" }
            day:
              type: array
              items:
                type: object
                properties:
                  date_int: { $ref: "#/components/schemas/DateInt" }
                  calories: { type: number, format: double }

    WeightDay:
      type: object
      properties:
        date_int: { $ref: "#/components/schemas/DateInt" }
        weight_kg: { type: number, format: double }
        weight_comment: { type: string }

    WeightsMonthResponse:
      type: object
      properties:
        month:
          type: object
          properties:
            from_date_int: { $ref: "#/components/schemas/DateInt" }
            to_date_int: { $ref: "#/components/schemas/DateInt" }
            day:
              type: array
              items: { $ref: "#/components/schemas/WeightDay" }

    ProfileAuthResponse:
      type: object
      properties:
        profile:
          type: object
          properties:
            auth_token: { type: string }
            auth_secret: { type: string }

    ProfileResponse:
      type: object
      properties:
        profile:
          type: object
          properties:
            weight_measure:
              type: string
              enum: [kg, lb]
            height_measure:
              type: string
              enum: [cm, inch]
            last_weight_kg: { type: number, format: double }
            last_weight_date_int: { $ref: "#/components/schemas/DateInt" }
            last_weight_comment: { type: string }
            goal_weight_kg: { type: number, format: double }
            height_cm: { type: number, format: double }

  parameters:
    Format:
      name: format
      in: query
      description: Desired response format.
      required: false
      schema:
        type: string
        enum: [xml, json]
        default: xml
    Region:
      name: region
      in: query
      description: ISO 3166-1 alpha-2 region filter. Defaults to US when omitted.
      required: false
      schema:
        type: string
        default: "US"
    Language:
      name: language
      in: query
      description: ISO 639-1 language code. Ignored unless `region` is also specified.
      required: false
      schema: { type: string }
    PageNumber:
      name: page_number
      in: query
      description: Zero-based page index.
      required: false
      schema: { type: integer, minimum: 0 }
    MaxResults:
      name: max_results
      in: query
      description: Maximum results per page. Per-endpoint default and ceiling.
      required: false
      schema: { type: integer }
    OAuthToken:
      name: oauth_token
      in: query
      description: OAuth 1.0 user access token for delegated requests.
      required: false
      schema: { type: string }

  responses:
    ErrorResponse:
      description: |
        Standard FatSecret error envelope. The HTTP status is typically 200
        with an `error` payload. Common code categories:

          - OAuth 1.0  (2-9)   signature/nonce/timestamp/token problems
          - OAuth 2.0  (13-14) invalid token / missing scope
          - General    (1, 10-12, 20-24) unknown method, rate limits, timeouts
          - Parameter  (101-109) missing/invalid/out-of-range parameter values
          - Application(201-211) domain-specific failures (date windows, etc.)
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          examples:
            oauth1_signature:
              summary: OAuth 1.0 invalid signature method (code 4)
              value:
                error:
                  code: "4"
                  message: "Invalid signature method: oauth_signature_method 'PLAINTEXT'"
            oauth2_invalid_token:
              summary: OAuth 2.0 invalid token (code 13)
              value:
                error:
                  code: "13"
                  message: "Invalid token: '<details>'"
            oauth2_missing_scope:
              summary: OAuth 2.0 missing scope (code 14)
              value:
                error:
                  code: "14"
                  message: "Missing scope: '<details>'"
            unknown_method:
              summary: Unknown method (code 10)
              value:
                error:
                  code: "10"
                  message: "Unknown method: 'foo.bar'"
            rate_limit:
              summary: Application request limit reached (code 11)
              value:
                error:
                  code: "11"
                  message: "Application request limit reached: '<details>'"
            missing_param:
              summary: Missing required parameter (code 101)
              value:
                error:
                  code: "101"
                  message: "Missing required parameter: 'food_id'"
            invalid_id:
              summary: Invalid ID (code 106)
              value:
                error:
                  code: "106"
                  message: "Invalid ID: '<details>'"
            date_window:
              summary: Date selected outside 2-day update window (code 205)
              value:
                error:
                  code: "205"
                  message: "Date must be within 2 days from today: '<details>'"
            no_food_detected:
              summary: Image recognition - no food detected (code 211)
              value:
                error:
                  code: "211"
                  message: "No food item detected"
  # End components

paths:
  /rest/server.api:
    description: |
      The method-parameter style endpoint. Each operation below is disambiguated
      by the required `method` query parameter, which is modeled as a
      single-element enum on each operation. All such operations are GET unless
      noted; mutating endpoints in this style typically use POST/PUT/DELETE
      against the same URL.

    # ---------------------------------------------------------------------
    # Foods: foods.search v1..v5
    # ---------------------------------------------------------------------
    get:
      operationId: foods_search_v1
      summary: foods.search (v1)
      tags: [Foods]
      description: |
        Lightweight food search. Results include only a brief description
        (no nested servings). Pagination is zero-based. Region/language
        parameters are Premier-exclusive on v1.
      parameters:
        - name: method
          in: query
          required: true
          schema: { type: string, enum: [foods.search] }
        - { name: search_expression, in: query, required: false, schema: { type: string } }
        - { $ref: "#/components/parameters/PageNumber" }
        - name: max_results
          in: query
          required: false
          schema: { type: integer, default: 20, maximum: 50 }
        - name: generic_description
          in: query
          required: false
          description: "Weight or portion (Premier exclusive). Default: Weight."
          schema: { type: string, default: "Weight" }
        - { $ref: "#/components/parameters/Region" }
        - { $ref: "#/components/parameters/Language" }
        - { $ref: "#/components/parameters/Format" }
      responses:
        "200":
          description: Search hits.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FoodsSearchV1Response" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#foods.search.v2:
    parameters: []
    get:
      operationId: foods_search_v2
      summary: foods.search.v2 (deprecated)
      deprecated: true
      x-fatsecret-premier: true
      tags: [Foods]
      description: |
        DEPRECATED. v2 introduced nested servings with full nutritional data.
        Premier-tier exclusive. Only food_id and serving_id are storable.
      parameters:
        - name: method
          in: query
          required: true
          schema: { type: string, enum: [foods.search.v2] }
        - { name: search_expression, in: query, required: false, schema: { type: string } }
        - { $ref: "#/components/parameters/PageNumber" }
        - name: max_results
          in: query
          required: false
          schema: { type: integer, default: 20 }
        - { name: include_sub_categories, in: query, required: false, schema: { type: boolean } }
        - { name: flag_default_serving, in: query, required: false, schema: { type: boolean } }
        - { $ref: "#/components/parameters/Region" }
        - { $ref: "#/components/parameters/Language" }
        - { $ref: "#/components/parameters/Format" }
      security:
        - oauth2: [premier]
      responses:
        "200":
          description: Search hits with nested servings.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FoodsSearchResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#foods.search.v3:
    get:
      operationId: foods_search_v3
      summary: foods.search.v3 (deprecated)
      deprecated: true
      x-fatsecret-premier: true
      tags: [Foods]
      description: |
        DEPRECATED. v3 added `include_food_images` and `include_food_attributes`
        (allergens, preferences). Images and attributes require separate
        Premier offerings (account enablement).
      parameters:
        - name: method
          in: query
          required: true
          schema: { type: string, enum: [foods.search.v3] }
        - { name: search_expression, in: query, required: false, schema: { type: string } }
        - { $ref: "#/components/parameters/PageNumber" }
        - { name: max_results, in: query, required: false, schema: { type: integer, default: 20, maximum: 50 } }
        - { name: include_sub_categories, in: query, required: false, schema: { type: boolean } }
        - { name: include_food_images, in: query, required: false, schema: { type: boolean } }
        - { name: include_food_attributes, in: query, required: false, schema: { type: boolean } }
        - { name: flag_default_serving, in: query, required: false, schema: { type: boolean } }
        - { $ref: "#/components/parameters/Region" }
        - { $ref: "#/components/parameters/Language" }
        - { $ref: "#/components/parameters/Format" }
      security:
        - oauth2: [premier]
      responses:
        "200":
          description: Search hits with optional images and attributes.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FoodsSearchResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#foods.search.v4:
    get:
      operationId: foods_search_v4
      summary: foods.search.v4 (deprecated)
      deprecated: true
      x-fatsecret-premier: true
      tags: [Foods]
      description: |
        DEPRECATED. Brand foods include derived standardized servings
        (100g/100ml/1oz+100g) with serving_id=0; these cannot be used to
        create food entries. Migrate to v5.
      parameters:
        - name: method
          in: query
          required: true
          schema: { type: string, enum: [foods.search.v4] }
        - { name: search_expression, in: query, required: false, schema: { type: string } }
        - { $ref: "#/components/parameters/PageNumber" }
        - { name: max_results, in: query, required: false, schema: { type: integer, default: 20, maximum: 50 } }
        - { name: include_sub_categories, in: query, required: false, schema: { type: boolean } }
        - { name: include_food_images, in: query, required: false, schema: { type: boolean } }
        - { name: include_food_attributes, in: query, required: false, schema: { type: boolean } }
        - { name: flag_default_serving, in: query, required: false, schema: { type: boolean } }
        - { $ref: "#/components/parameters/Region" }
        - { $ref: "#/components/parameters/Language" }
        - { $ref: "#/components/parameters/Format" }
      security:
        - oauth2: [premier]
      responses:
        "200":
          description: Search hits.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FoodsSearchResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#foods.search.v5:
    get:
      operationId: foods_search_v5
      summary: foods.search.v5 (current)
      x-fatsecret-premier: true
      tags: [Foods]
      description: |
        Current foods.search version. Adds a `food_type` filter parameter
        (none, generic, brand). max_results cannot exceed 50.
      parameters:
        - name: method
          in: query
          required: true
          schema: { type: string, enum: [foods.search.v5] }
        - { name: search_expression, in: query, required: false, schema: { type: string } }
        - { $ref: "#/components/parameters/PageNumber" }
        - { name: max_results, in: query, required: false, schema: { type: integer, default: 20, maximum: 50 } }
        - { name: include_sub_categories, in: query, required: false, schema: { type: boolean } }
        - { name: include_food_images, in: query, required: false, schema: { type: boolean } }
        - { name: include_food_attributes, in: query, required: false, schema: { type: boolean } }
        - { name: flag_default_serving, in: query, required: false, schema: { type: boolean } }
        - name: food_type
          in: query
          required: false
          schema:
            type: string
            enum: [none, generic, brand]
            default: none
        - { $ref: "#/components/parameters/Region" }
        - { $ref: "#/components/parameters/Language" }
        - { $ref: "#/components/parameters/Format" }
      security:
        - oauth2: [premier]
      responses:
        "200":
          description: Search hits.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FoodsSearchResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#food.get:
    get:
      operationId: food_get_v1
      summary: food.get (v1, deprecated)
      deprecated: true
      tags: [Foods]
      description: |
        DEPRECATED. v1 reports vitamins A/C, calcium, iron as %DV percentages.
        Brand foods always have number_of_units=1 and measurement_description="serving".
      parameters:
        - name: method
          in: query
          required: true
          schema: { type: string, enum: [food.get] }
        - { name: food_id, in: query, required: true, schema: { type: integer, format: int64 } }
        - { $ref: "#/components/parameters/Format" }
        - { name: include_sub_categories, in: query, required: false, schema: { type: boolean } }
        - { name: flag_default_serving, in: query, required: false, schema: { type: boolean } }
        - { $ref: "#/components/parameters/Region" }
        - { $ref: "#/components/parameters/Language" }
      responses:
        "200":
          description: Food details (vitamins in %DV).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FoodGetV1Response" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#food.get.v2:
    get:
      operationId: food_get_v2
      summary: food.get.v2 (deprecated)
      deprecated: true
      tags: [Foods]
      description: |
        DEPRECATED. v2 switched vitamins A/C, calcium, iron from %DV to raw
        values (micrograms/milligrams). Adds `added_sugars` and `vitamin_d`.
      parameters:
        - name: method
          in: query
          required: true
          schema: { type: string, enum: [food.get.v2] }
        - { name: food_id, in: query, required: true, schema: { type: integer, format: int64 } }
        - { $ref: "#/components/parameters/Format" }
        - { name: include_sub_categories, in: query, required: false, description: "Premier Exclusive.", schema: { type: boolean } }
        - { name: flag_default_serving, in: query, required: false, description: "Premier Exclusive.", schema: { type: boolean } }
        - { $ref: "#/components/parameters/Region" }
        - { $ref: "#/components/parameters/Language" }
      responses:
        "200":
          description: Food details.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FoodGetV2Response" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#food.get.v3:
    get:
      operationId: food_get_v3
      summary: food.get.v3 (deprecated)
      deprecated: true
      tags: [Foods]
      description: DEPRECATED. Schema near-identical to v2.
      parameters:
        - name: method
          in: query
          required: true
          schema: { type: string, enum: [food.get.v3] }
        - { name: food_id, in: query, required: true, schema: { type: integer, format: int64 } }
        - { $ref: "#/components/parameters/Format" }
        - { name: include_sub_categories, in: query, required: false, description: "Premier Exclusive.", schema: { type: boolean } }
        - { name: flag_default_serving, in: query, required: false, description: "Premier Exclusive.", schema: { type: boolean } }
        - { $ref: "#/components/parameters/Region" }
        - { $ref: "#/components/parameters/Language" }
      responses:
        "200":
          description: Food details.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FoodGetV2Response" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#food.get.v4:
    get:
      operationId: food_get_v4
      summary: food.get.v4 (deprecated)
      deprecated: true
      tags: [Foods]
      description: |
        DEPRECATED. v4 adds food_images and food_attributes (allergens,
        preferences). Allergen/preference values are ternary.
      parameters:
        - name: method
          in: query
          required: true
          schema: { type: string, enum: [food.get.v4] }
        - { name: food_id, in: query, required: true, schema: { type: integer, format: int64 } }
        - { $ref: "#/components/parameters/Format" }
        - { name: include_sub_categories, in: query, required: false, description: "Premier Exclusive.", schema: { type: boolean } }
        - { name: include_food_images, in: query, required: false, description: "Premier Exclusive.", schema: { type: boolean } }
        - { name: include_food_attributes, in: query, required: false, description: "Premier Exclusive.", schema: { type: boolean } }
        - { name: flag_default_serving, in: query, required: false, description: "Premier Exclusive.", schema: { type: boolean } }
        - { $ref: "#/components/parameters/Region" }
        - { $ref: "#/components/parameters/Language" }
      responses:
        "200":
          description: Food details.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FoodGetResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#food.get.v5:
    get:
      operationId: food_get_v5
      summary: food.get.v5 (current)
      tags: [Foods]
      description: |
        Current food.get version. Introduces derived standardized servings
        (100g, 100ml, or 1oz+100g) with serving_id=0 for Brand-type foods;
        these cannot be used in food_entry.create.
      parameters:
        - name: method
          in: query
          required: true
          schema: { type: string, enum: [food.get.v5] }
        - { name: food_id, in: query, required: true, schema: { type: integer, format: int64 } }
        - { $ref: "#/components/parameters/Format" }
        - { name: include_sub_categories, in: query, required: false, description: "Premier Exclusive.", schema: { type: boolean } }
        - { name: include_food_images, in: query, required: false, description: "Premier Exclusive.", schema: { type: boolean } }
        - { name: include_food_attributes, in: query, required: false, description: "Premier Exclusive.", schema: { type: boolean } }
        - { name: flag_default_serving, in: query, required: false, schema: { type: boolean } }
        - { $ref: "#/components/parameters/Region" }
        - { $ref: "#/components/parameters/Language" }
      responses:
        "200":
          description: Food details.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FoodGetResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  # -------------------------------------------------------------------------
  # Food Classification: autocomplete, barcode, brands, categories, sub-categories
  # -------------------------------------------------------------------------
  /rest/server.api#foods.autocomplete:
    get:
      operationId: foods_autocomplete_v1
      summary: foods.autocomplete (v1, deprecated)
      deprecated: true
      x-fatsecret-premier: true
      tags: [Food Classification]
      description: DEPRECATED. Only works for the default region/language combination.
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [foods.autocomplete] } }
        - { name: expression, in: query, required: true, schema: { type: string } }
        - { name: max_results, in: query, required: false, schema: { type: integer, default: 4, maximum: 10 } }
        - { $ref: "#/components/parameters/Region" }
        - { $ref: "#/components/parameters/Format" }
      security:
        - oauth2: [premier]
      responses:
        "200":
          description: Autocomplete suggestions.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AutocompleteResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#foods.autocomplete.v2:
    get:
      operationId: foods_autocomplete_v2
      summary: foods.autocomplete.v2
      x-fatsecret-premier: true
      tags: [Food Classification]
      description: v2 introduces consistent JSON array formatting for single-result returns.
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [foods.autocomplete.v2] } }
        - { name: expression, in: query, required: true, schema: { type: string } }
        - { name: max_results, in: query, required: false, schema: { type: integer, default: 4, maximum: 10 } }
        - { $ref: "#/components/parameters/Region" }
        - { $ref: "#/components/parameters/Format" }
      security:
        - oauth2: [premier]
      responses:
        "200":
          description: Autocomplete suggestions.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AutocompleteResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#food.find_id_for_barcode:
    get:
      operationId: food_find_id_for_barcode_v1
      summary: food.find_id_for_barcode (v1)
      x-fatsecret-premier: true
      tags: [Food Classification]
      description: Resolve a GTIN-13 barcode to a food_id (0 if no match). UPC-E must be converted to UPC-A first.
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [food.find_id_for_barcode] } }
        - { name: barcode, in: query, required: true, description: "13-digit GTIN-13 barcode.", schema: { type: string, pattern: "^[0-9]{13}$" } }
        - { $ref: "#/components/parameters/Region" }
        - { $ref: "#/components/parameters/Language" }
        - { $ref: "#/components/parameters/Format" }
      security:
        - oauth2: [barcode]
      responses:
        "200":
          description: Resolved food_id (or 0).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BarcodeV1Response" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#food.find_id_for_barcode.v2:
    get:
      operationId: food_find_id_for_barcode_v2
      summary: food.find_id_for_barcode.v2
      x-fatsecret-premier: true
      tags: [Food Classification]
      description: v2 returns the full matched food record (food.get-shaped) instead of only the ID.
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [food.find_id_for_barcode.v2] } }
        - { name: barcode, in: query, required: true, schema: { type: string, pattern: "^[0-9]{13}$" } }
        - { name: include_sub_categories, in: query, required: false, schema: { type: boolean } }
        - { name: include_food_images, in: query, required: false, schema: { type: boolean } }
        - { name: include_food_attributes, in: query, required: false, schema: { type: boolean } }
        - { name: flag_default_serving, in: query, required: false, schema: { type: boolean } }
        - { $ref: "#/components/parameters/Region" }
        - { $ref: "#/components/parameters/Language" }
        - { $ref: "#/components/parameters/Format" }
      security:
        - oauth2: [barcode]
      responses:
        "200":
          description: Full food record.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BarcodeV2Response" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#food_brands.get:
    get:
      operationId: food_brands_get_v1
      summary: food_brands.get (v1, deprecated)
      deprecated: true
      x-fatsecret-premier: true
      tags: [Food Classification]
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [food_brands.get] } }
        - { name: starts_with, in: query, required: true, schema: { type: string } }
        - name: brand_type
          in: query
          required: false
          schema: { type: string, enum: [manufacturer, restaurant, supermarket], default: manufacturer }
        - { $ref: "#/components/parameters/Region" }
        - { $ref: "#/components/parameters/Language" }
        - { $ref: "#/components/parameters/Format" }
      security:
        - oauth2: [premier]
      responses:
        "200":
          description: Brand names list.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FoodBrandsResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#food_brands.get.v2:
    get:
      operationId: food_brands_get_v2
      summary: food_brands.get.v2
      x-fatsecret-premier: true
      tags: [Food Classification]
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [food_brands.get.v2] } }
        - { name: starts_with, in: query, required: true, schema: { type: string } }
        - name: brand_type
          in: query
          required: false
          schema: { type: string, enum: [manufacturer, restaurant, supermarket], default: manufacturer }
        - { $ref: "#/components/parameters/Region" }
        - { $ref: "#/components/parameters/Language" }
        - { $ref: "#/components/parameters/Format" }
      security:
        - oauth2: [premier]
      responses:
        "200":
          description: Brand names list.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FoodBrandsResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#food_categories.get:
    get:
      operationId: food_categories_get_v1
      summary: food_categories.get (v1, deprecated)
      deprecated: true
      x-fatsecret-premier: true
      tags: [Food Classification]
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [food_categories.get] } }
        - { $ref: "#/components/parameters/Region" }
        - { $ref: "#/components/parameters/Language" }
        - { $ref: "#/components/parameters/Format" }
      security:
        - oauth2: [premier]
      responses:
        "200":
          description: Food categories.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FoodCategoriesResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#food_categories.get.v2:
    get:
      operationId: food_categories_get_v2
      summary: food_categories.get.v2
      x-fatsecret-premier: true
      tags: [Food Classification]
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [food_categories.get.v2] } }
        - { $ref: "#/components/parameters/Region" }
        - { $ref: "#/components/parameters/Language" }
        - { $ref: "#/components/parameters/Format" }
      security:
        - oauth2: [premier]
      responses:
        "200":
          description: Food categories.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FoodCategoriesResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#food_sub_categories.get:
    get:
      operationId: food_sub_categories_get_v1
      summary: food_sub_categories.get (v1, deprecated)
      deprecated: true
      x-fatsecret-premier: true
      tags: [Food Classification]
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [food_sub_categories.get] } }
        - { name: food_category_id, in: query, required: true, schema: { type: integer, format: int64 } }
        - { $ref: "#/components/parameters/Region" }
        - { $ref: "#/components/parameters/Language" }
        - { $ref: "#/components/parameters/Format" }
      security:
        - oauth2: [premier]
      responses:
        "200":
          description: Sub-category names.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FoodSubCategoriesResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#food_sub_categories.get.v2:
    get:
      operationId: food_sub_categories_get_v2
      summary: food_sub_categories.get.v2
      x-fatsecret-premier: true
      tags: [Food Classification]
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [food_sub_categories.get.v2] } }
        - { name: food_category_id, in: query, required: true, schema: { type: integer, format: int64 } }
        - { $ref: "#/components/parameters/Region" }
        - { $ref: "#/components/parameters/Language" }
        - { $ref: "#/components/parameters/Format" }
      security:
        - oauth2: [premier]
      responses:
        "200":
          description: Sub-category names.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FoodSubCategoriesResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  # -------------------------------------------------------------------------
  # Native (URL-path) APIs: NLP, image recognition, feedback
  # -------------------------------------------------------------------------
  /rest/natural-language-processing/v1:
    post:
      operationId: natural_language_processing_v1
      summary: Natural Language Processing (v1)
      x-fatsecret-premier: true
      tags: [Native APIs]
      description: |
        Parse free-text "what I ate" descriptions into structured food matches.
        URL-based REST endpoint (not invoked via method=). Request body limited
        to 1MB; user_input limited to 1000 characters.
      security:
        - oauth2: [nlp]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/NlpRequest" }
      responses:
        "200":
          description: Parsed food matches.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/NlpImageResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/image-recognition/v1:
    post:
      operationId: image_recognition_v1
      summary: Image Recognition (v1)
      x-fatsecret-premier: true
      tags: [Native APIs]
      description: Recognize foods from a base64-encoded image. Request body capped at ~1MB.
      security:
        - oauth2: [image-recognition]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ImageRecognitionRequest" }
      responses:
        "200":
          description: Recognized foods.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/NlpImageResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/image-recognition/v2:
    post:
      operationId: image_recognition_v2
      summary: Image Recognition (v2)
      x-fatsecret-premier: true
      tags: [Native APIs]
      description: |
        v2 improvements: up to 80% faster inference; better generic/restaurant/
        mixed-food handling. Accepts JPG/PNG/WebP up to 1.09MB; recommended
        256x256 or 512x512. Submissions containing only nutrition facts panels
        return error 211.
      security:
        - oauth2: [image-recognition]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ImageRecognitionRequest" }
      responses:
        "200":
          description: Recognized foods.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/NlpImageResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/feedback/v1:
    post:
      operationId: feedback_v1
      summary: Feedback (v1)
      x-fatsecret-premier: true
      tags: [Feedback]
      description: |
        Submit user feedback about food data. Returns signed URLs for up to
        three optional image uploads (barcode, packaging, nutrition); the
        client must subsequently PUT to those URLs using the returned
        contentTypeHeader as the Content-Type header.
      security:
        - oauth2: [feedback]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/FeedbackRequest" }
      responses:
        "200":
          description: Feedback acceptance with optional signed upload URLs.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FeedbackResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  # -------------------------------------------------------------------------
  # Recipes
  # -------------------------------------------------------------------------
  /rest/server.api#recipe.get:
    get:
      operationId: recipe_get_v1
      summary: recipe.get (v1, deprecated)
      deprecated: true
      tags: [Recipes]
      description: DEPRECATED. `region` is Premier-exclusive.
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [recipe.get] } }
        - { name: recipe_id, in: query, required: true, schema: { type: integer, format: int64 } }
        - { $ref: "#/components/parameters/Format" }
        - { $ref: "#/components/parameters/Region" }
      responses:
        "200":
          description: Recipe details.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RecipeGetV1Response" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#recipe.get.v2:
    get:
      operationId: recipe_get_v2
      summary: recipe.get.v2
      tags: [Recipes]
      description: v2 adds `grams_per_portion`. `region` is Premier-exclusive.
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [recipe.get.v2] } }
        - { name: recipe_id, in: query, required: true, schema: { type: integer, format: int64 } }
        - { $ref: "#/components/parameters/Format" }
        - { $ref: "#/components/parameters/Region" }
      responses:
        "200":
          description: Recipe details.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RecipeGetResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#recipes.search:
    get:
      operationId: recipes_search_v1
      summary: recipes.search (v1, deprecated)
      deprecated: true
      tags: [Recipes]
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [recipes.search] } }
        - { name: search_expression, in: query, required: false, schema: { type: string } }
        - { name: recipe_type, in: query, required: false, schema: { type: string } }
        - { $ref: "#/components/parameters/PageNumber" }
        - { name: max_results, in: query, required: false, schema: { type: integer, default: 20, maximum: 50 } }
        - { $ref: "#/components/parameters/Format" }
      responses:
        "200":
          description: Recipe search hits.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RecipesSearchResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#recipes.search.v2:
    get:
      operationId: recipes_search_v2
      summary: recipes.search.v2 (deprecated)
      deprecated: true
      tags: [Recipes]
      description: DEPRECATED. `region` is Premier-exclusive.
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [recipes.search.v2] } }
        - { name: search_expression, in: query, required: false, schema: { type: string } }
        - { name: must_have_images, in: query, required: false, schema: { type: boolean } }
        - { name: calories.from, in: query, required: false, schema: { type: integer, format: int64 } }
        - { name: calories.to, in: query, required: false, schema: { type: integer, format: int64 } }
        - { name: carb_percentage.from, in: query, required: false, schema: { type: integer, format: int64 } }
        - { name: carb_percentage.to, in: query, required: false, schema: { type: integer, format: int64 } }
        - { name: protein_percentage.from, in: query, required: false, schema: { type: integer, format: int64 } }
        - { name: protein_percentage.to, in: query, required: false, schema: { type: integer, format: int64 } }
        - { name: fat_percentage.from, in: query, required: false, schema: { type: integer, format: int64 } }
        - { name: fat_percentage.to, in: query, required: false, schema: { type: integer, format: int64 } }
        - { name: prep_time.from, in: query, required: false, schema: { type: integer, format: int64 } }
        - { name: prep_time.to, in: query, required: false, schema: { type: integer, format: int64 } }
        - { $ref: "#/components/parameters/PageNumber" }
        - { name: max_results, in: query, required: false, schema: { type: integer, default: 20, maximum: 50 } }
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
            enum: [newest, oldest, caloriesPerServingAscending, caloriesPerServingDescending]
            default: newest
        - { $ref: "#/components/parameters/Format" }
        - { $ref: "#/components/parameters/Region" }
      responses:
        "200":
          description: Recipe search hits.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RecipesSearchResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#recipes.search.v3:
    get:
      operationId: recipes_search_v3
      summary: recipes.search.v3 (current)
      tags: [Recipes]
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [recipes.search.v3] } }
        - { name: search_expression, in: query, required: false, schema: { type: string } }
        - { name: recipe_types, in: query, required: false, description: "Comma-separated list of recipe types.", schema: { type: string } }
        - { name: recipe_types_matchall, in: query, required: false, schema: { type: boolean, default: false } }
        - { name: must_have_images, in: query, required: false, schema: { type: boolean } }
        - { name: calories.from, in: query, required: false, schema: { type: integer, format: int64 } }
        - { name: calories.to, in: query, required: false, schema: { type: integer, format: int64 } }
        - { name: carb_percentage.from, in: query, required: false, schema: { type: integer, format: int64 } }
        - { name: carb_percentage.to, in: query, required: false, schema: { type: integer, format: int64 } }
        - { name: protein_percentage.from, in: query, required: false, schema: { type: integer, format: int64 } }
        - { name: protein_percentage.to, in: query, required: false, schema: { type: integer, format: int64 } }
        - { name: fat_percentage.from, in: query, required: false, schema: { type: integer, format: int64 } }
        - { name: fat_percentage.to, in: query, required: false, schema: { type: integer, format: int64 } }
        - { name: prep_time.from, in: query, required: false, schema: { type: integer, format: int64 } }
        - { name: prep_time.to, in: query, required: false, schema: { type: integer, format: int64 } }
        - { name: page_number, in: query, required: false, schema: { type: integer, minimum: 0, default: 0 } }
        - { name: max_results, in: query, required: false, schema: { type: integer, default: 20, maximum: 50 } }
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
            enum: [newest, oldest, caloriesPerServingAscending, caloriesPerServingDescending]
            default: newest
        - { $ref: "#/components/parameters/Region" }
        - { $ref: "#/components/parameters/Format" }
      responses:
        "200":
          description: Recipe search hits.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RecipesSearchResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#recipe_types.get:
    get:
      operationId: recipe_types_get_v1
      summary: recipe_types.get (v1, deprecated)
      deprecated: true
      tags: [Recipes]
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [recipe_types.get] } }
        - { $ref: "#/components/parameters/Format" }
      responses:
        "200":
          description: Recipe types.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RecipeTypesResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#recipe_types.get.v2:
    get:
      operationId: recipe_types_get_v2
      summary: recipe_types.get.v2
      tags: [Recipes]
      description: v2 introduces consistent JSON array formatting and localization. `region`/`language` are Premier-exclusive.
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [recipe_types.get.v2] } }
        - { $ref: "#/components/parameters/Format" }
        - { $ref: "#/components/parameters/Region" }
        - { $ref: "#/components/parameters/Language" }
      responses:
        "200":
          description: Recipe types.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RecipeTypesResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#recipe.add_favorite:
    post:
      operationId: recipe_add_favorite_v1
      summary: recipe.add_favorite (v1)
      tags: [Recipes]
      description: Requires OAuth 1.0 (signed and delegated).
      security:
        - oauth1: []
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [recipe.add_favorite] } }
        - { name: recipe_id, in: query, required: true, schema: { type: integer, format: int64 } }
        - { $ref: "#/components/parameters/Format" }
      responses:
        "200":
          description: Success envelope.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Success" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#recipe.delete_favorite:
    delete:
      operationId: recipe_delete_favorite_v1
      summary: recipe.delete_favorite (v1)
      tags: [Recipes]
      description: Requires OAuth 1.0 (signed and delegated).
      security:
        - oauth1: []
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [recipe.delete_favorite] } }
        - { name: recipe_id, in: query, required: true, schema: { type: integer, format: int64 } }
        - { $ref: "#/components/parameters/Format" }
      responses:
        "200":
          description: Success envelope.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Success" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#recipe.get_favorites:
    get:
      operationId: recipes_get_favorites_v1
      summary: recipe.get_favorites (v1, deprecated)
      deprecated: true
      tags: [Recipes]
      description: Requires OAuth 1.0 (signed and delegated).
      security:
        - oauth1: []
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [recipe.get_favorites] } }
        - { $ref: "#/components/parameters/Format" }
      responses:
        "200":
          description: Favorite recipes.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RecipesFavoritesResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#recipe.get_favorites.v2:
    get:
      operationId: recipes_get_favorites_v2
      summary: recipe.get_favorites.v2
      tags: [Recipes]
      description: Requires OAuth 1.0 (signed and delegated).
      security:
        - oauth1: []
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [recipe.get_favorites.v2] } }
        - { $ref: "#/components/parameters/Format" }
      responses:
        "200":
          description: Favorite recipes.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RecipesFavoritesResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  # -------------------------------------------------------------------------
  # Profile Foods
  # -------------------------------------------------------------------------
  /rest/server.api#food.create:
    post:
      operationId: food_create_v1
      summary: food.create (v1, deprecated)
      deprecated: true
      x-fatsecret-premier: true
      tags: [Profile Foods]
      description: |
        DEPRECATED. v1 accepts some nutrient inputs as %DV (vitamin_a/c,
        calcium, iron). Requires 3-legged OAuth 1.0. Premier-tier exclusive.
      security:
        - oauth1: []
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [food.create] } }
        - name: brand_type
          in: query
          required: true
          schema: { type: string, enum: [manufacturer, restaurant, supermarket], default: manufacturer }
        - { name: brand_name, in: query, required: true, schema: { type: string } }
        - { name: food_name, in: query, required: true, schema: { type: string } }
        - { name: serving_size, in: query, required: true, schema: { type: string } }
        - { name: calories, in: query, required: true, schema: { type: number, format: double } }
        - { name: fat, in: query, required: true, schema: { type: number, format: double } }
        - { name: carbohydrate, in: query, required: true, schema: { type: number, format: double } }
        - { name: protein, in: query, required: true, schema: { type: number, format: double } }
        - { name: serving_amount, in: query, required: false, schema: { type: string } }
        - name: serving_amount_unit
          in: query
          required: false
          schema: { type: string, enum: [g, ml, oz], default: g }
        - { name: calories_from_fat, in: query, required: false, schema: { type: number, format: double } }
        - { name: saturated_fat, in: query, required: false, schema: { type: number, format: double } }
        - { name: polyunsaturated_fat, in: query, required: false, schema: { type: number, format: double } }
        - { name: monounsaturated_fat, in: query, required: false, schema: { type: number, format: double } }
        - { name: trans_fat, in: query, required: false, schema: { type: number, format: double } }
        - { name: cholesterol, in: query, required: false, schema: { type: number, format: double } }
        - { name: sodium, in: query, required: false, schema: { type: number, format: double } }
        - { name: potassium, in: query, required: false, schema: { type: number, format: double } }
        - { name: fiber, in: query, required: false, schema: { type: number, format: double } }
        - { name: sugar, in: query, required: false, schema: { type: number, format: double } }
        - { name: other_carbohydrate, in: query, required: false, schema: { type: number, format: double } }
        - { name: vitamin_a, in: query, required: false, description: "%DV", schema: { type: number, format: double } }
        - { name: vitamin_c, in: query, required: false, description: "%DV", schema: { type: number, format: double } }
        - { name: calcium, in: query, required: false, description: "%DV", schema: { type: number, format: double } }
        - { name: iron, in: query, required: false, description: "%DV", schema: { type: number, format: double } }
        - { $ref: "#/components/parameters/Region" }
        - { $ref: "#/components/parameters/Language" }
        - { $ref: "#/components/parameters/Format" }
      responses:
        "200":
          description: Created food_id.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FoodCreateResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#food.create.v2:
    post:
      operationId: food_create_v2
      summary: food.create.v2
      x-fatsecret-premier: true
      tags: [Profile Foods]
      description: |
        v2 returns/accepts raw nutrient values rather than %DV; client computes
        %DV. Adds added_sugars and vitamin_d; vitamin_a/c, calcium, iron are
        raw units. Requires 3-legged OAuth 1.0. Premier-tier exclusive.
        URL-based alternative: POST /rest/food/v2.
      security:
        - oauth1: []
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [food.create.v2] } }
        - name: brand_type
          in: query
          required: true
          schema: { type: string, enum: [manufacturer, restaurant, supermarket], default: manufacturer }
        - { name: brand_name, in: query, required: true, schema: { type: string } }
        - { name: food_name, in: query, required: true, schema: { type: string } }
        - { name: serving_size, in: query, required: true, schema: { type: string } }
        - { name: calories, in: query, required: true, schema: { type: number, format: double } }
        - { name: fat, in: query, required: true, schema: { type: number, format: double } }
        - { name: carbohydrate, in: query, required: true, schema: { type: number, format: double } }
        - { name: protein, in: query, required: true, schema: { type: number, format: double } }
        - { name: serving_amount, in: query, required: false, schema: { type: string } }
        - name: serving_amount_unit
          in: query
          required: false
          schema: { type: string, enum: [g, ml, oz], default: g }
        - { name: calories_from_fat, in: query, required: false, schema: { type: number, format: double } }
        - { name: saturated_fat, in: query, required: false, schema: { type: number, format: double } }
        - { name: polyunsaturated_fat, in: query, required: false, schema: { type: number, format: double } }
        - { name: monounsaturated_fat, in: query, required: false, schema: { type: number, format: double } }
        - { name: trans_fat, in: query, required: false, schema: { type: number, format: double } }
        - { name: cholesterol, in: query, required: false, schema: { type: number, format: double } }
        - { name: sodium, in: query, required: false, schema: { type: number, format: double } }
        - { name: potassium, in: query, required: false, schema: { type: number, format: double } }
        - { name: fiber, in: query, required: false, schema: { type: number, format: double } }
        - { name: sugar, in: query, required: false, schema: { type: number, format: double } }
        - { name: added_sugars, in: query, required: false, schema: { type: number, format: double } }
        - { name: vitamin_d, in: query, required: false, schema: { type: number, format: double } }
        - { name: vitamin_a, in: query, required: false, schema: { type: number, format: double } }
        - { name: vitamin_c, in: query, required: false, schema: { type: number, format: double } }
        - { name: calcium, in: query, required: false, schema: { type: number, format: double } }
        - { name: iron, in: query, required: false, schema: { type: number, format: double } }
        - { $ref: "#/components/parameters/Region" }
        - { $ref: "#/components/parameters/Language" }
        - { $ref: "#/components/parameters/Format" }
      responses:
        "200":
          description: Created food_id.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FoodCreateResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#food.add_favorite:
    post:
      operationId: food_add_favorite_v1
      summary: food.add_favorite (v1)
      tags: [Profile Foods]
      description: "Requires 3-legged OAuth 1.0. URL alternative: /rest/food/favorite/v1."
      security:
        - oauth1: []
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [food.add_favorite] } }
        - { name: food_id, in: query, required: true, schema: { type: integer, format: int64 } }
        - { name: serving_id, in: query, required: false, schema: { type: integer, format: int64 } }
        - { name: number_of_units, in: query, required: false, schema: { type: number, format: double } }
        - { $ref: "#/components/parameters/Format" }
      responses:
        "200":
          description: Success envelope.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Success" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#food.delete_favorite:
    delete:
      operationId: food_delete_favorite_v1
      summary: food.delete_favorite (v1)
      tags: [Profile Foods]
      description: Requires 3-legged OAuth 1.0.
      security:
        - oauth1: []
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [food.delete_favorite] } }
        - { name: food_id, in: query, required: true, schema: { type: integer, format: int64 } }
        - { name: serving_id, in: query, required: false, schema: { type: integer, format: int64 } }
        - { name: number_of_units, in: query, required: false, schema: { type: number, format: double } }
        - { $ref: "#/components/parameters/Format" }
      responses:
        "200":
          description: Success envelope.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Success" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#foods.get_favorites:
    get:
      operationId: foods_get_favorites_v1
      summary: foods.get_favorites (v1, deprecated)
      deprecated: true
      tags: [Profile Foods]
      description: Requires 3-legged OAuth 1.0.
      security:
        - oauth1: []
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [foods.get_favorites] } }
        - { $ref: "#/components/parameters/Format" }
      responses:
        "200":
          description: Favorite foods.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FoodsFavoritesResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#foods.get_favorites.v2:
    get:
      operationId: foods_get_favorites_v2
      summary: foods.get_favorites.v2
      tags: [Profile Foods]
      description: Requires 3-legged OAuth 1.0.
      security:
        - oauth1: []
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [foods.get_favorites.v2] } }
        - { $ref: "#/components/parameters/Format" }
      responses:
        "200":
          description: Favorite foods.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FoodsFavoritesResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#foods.get_most_eaten:
    get:
      operationId: foods_get_most_eaten_v1
      summary: foods.get_most_eaten (v1, deprecated)
      deprecated: true
      tags: [Profile Foods]
      description: Requires 3-legged OAuth 1.0.
      security:
        - oauth1: []
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [foods.get_most_eaten] } }
        - name: meal
          in: query
          required: false
          schema: { type: string, enum: [breakfast, lunch, dinner, other] }
        - { $ref: "#/components/parameters/Format" }
      responses:
        "200":
          description: Most-eaten foods.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EatenFoodsResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#foods.get_most_eaten.v2:
    get:
      operationId: foods_get_most_eaten_v2
      summary: foods.get_most_eaten.v2
      tags: [Profile Foods]
      description: "Requires 3-legged OAuth 1.0. URL alternative: /rest/food/most-eaten/v2."
      security:
        - oauth1: []
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [foods.get_most_eaten.v2] } }
        - name: meal
          in: query
          required: false
          schema: { type: string, enum: [breakfast, lunch, dinner, other] }
        - { $ref: "#/components/parameters/Format" }
      responses:
        "200":
          description: Most-eaten foods.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EatenFoodsResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#foods.get_recently_eaten:
    get:
      operationId: foods_get_recently_eaten_v1
      summary: foods.get_recently_eaten (v1, deprecated)
      deprecated: true
      tags: [Profile Foods]
      description: "Requires 3-legged OAuth 1.0. URL alternative: /rest/food/recently-eaten/v1."
      security:
        - oauth1: []
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [foods.get_recently_eaten] } }
        - name: meal
          in: query
          required: false
          schema: { type: string, enum: [breakfast, lunch, dinner, other] }
        - { $ref: "#/components/parameters/Format" }
      responses:
        "200":
          description: Recently-eaten foods.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EatenFoodsResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#foods.get_recently_eaten.v2:
    get:
      operationId: foods_get_recently_eaten_v2
      summary: foods.get_recently_eaten.v2
      tags: [Profile Foods]
      description: |
        Requires 3-legged OAuth 1.0.
      x-fatsecret-spec-issues:
        - scope: |
            profile-foods.yaml flags this v2 endpoint with the Premier-Exclusive
            marker, while the v1 sibling is Basic. The vendor's live page should
            be re-checked; this spec preserves the conflict by declaring `premier`
            here and leaving v1 as `basic`.
      x-fatsecret-premier: true
      security:
        - oauth1: []
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [foods.get_recently_eaten.v2] } }
        - name: meal
          in: query
          required: false
          schema: { type: string, enum: [breakfast, lunch, dinner, other] }
        - { $ref: "#/components/parameters/Format" }
      responses:
        "200":
          description: Recently-eaten foods.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EatenFoodsResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  # -------------------------------------------------------------------------
  # Saved Meals
  # -------------------------------------------------------------------------
  /rest/server.api#saved_meal.create:
    post:
      operationId: saved_meal_create_v1
      summary: saved_meal.create (v1)
      tags: [Saved Meals]
      description: "3-legged OAuth 1.0. URL alternative: POST /rest/saved-meals/v1."
      security:
        - oauth1: []
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [saved_meal.create] } }
        - { name: saved_meal_name, in: query, required: true, schema: { type: string } }
        - { name: saved_meal_description, in: query, required: false, schema: { type: string } }
        - { name: meals, in: query, required: false, description: "Comma-separated meal types (breakfast,lunch,dinner,other).", schema: { type: string } }
        - { $ref: "#/components/parameters/Format" }
      responses:
        "200":
          description: New saved meal ID.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SavedMealCreateResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#saved_meal.edit:
    put:
      operationId: saved_meal_edit_v1
      summary: saved_meal.edit (v1)
      tags: [Saved Meals]
      description: "3-legged OAuth 1.0. URL alternative: PUT /rest/saved-meals/v1."
      security:
        - oauth1: []
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [saved_meal.edit] } }
        - { name: saved_meal_id, in: query, required: true, schema: { type: integer, format: int64 } }
        - { name: saved_meal_name, in: query, required: false, schema: { type: string } }
        - { name: saved_meal_description, in: query, required: false, schema: { type: string } }
        - { name: meals, in: query, required: false, schema: { type: string } }
        - { $ref: "#/components/parameters/Format" }
      responses:
        "200":
          description: Success envelope.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Success" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#saved_meal.delete:
    delete:
      operationId: saved_meal_delete_v1
      summary: saved_meal.delete (v1)
      tags: [Saved Meals]
      description: "3-legged OAuth 1.0. URL alternative: DELETE /rest/saved-meals/v1."
      security:
        - oauth1: []
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [saved_meal.delete] } }
        - { name: saved_meal_id, in: query, required: true, schema: { type: integer, format: int64 } }
        - { $ref: "#/components/parameters/Format" }
      responses:
        "200":
          description: Success envelope.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Success" }
        default: { $ref: "#/components/responses/ErrorResponse" }

  /rest/server.api#saved_meals.get:
    get:
      operationId: saved_meals_get_v1
      summary: saved_meals.get (v1, deprecated)
      deprecated: true
      tags: [Saved Meals]
      description: 3-legged OAuth 1.0.
      security:
        - oauth1: []
      parameters:
        - { name: method, in: query, required: true, schema: { type: string, enum: [saved_meals.get] } }
        - name: meal
          in: query
          required: false
          schema: { type: string, enum: [breakfast, lunch, dinner, other] }
        - { $ref: "#/components/parameters/Format" }
      responses:
        "200":
          description: Saved meals.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SavedMealsResponse" }
        default: { $ref: "#/components/responses/ErrorResponse" }

[...]
